<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.mybatis.mapper.DynamicSQLMapper">

    <sql id="empColumns">
        emp_name, age, sex, email
    </sql>

    <sql id="empResult">
        select emp_name, age, sex, email from employee where emp_name = '张'
    </sql>

    <insert id="insertMoreEmployeeByCollection">
        insert into employee values
        <foreach collection="empList" item="emp" separator=",">
            (#{emp.eid}, #{emp.empName}, #{emp.age}, #{emp.sex}, #{emp.email}, #{emp.did})
        </foreach>
    </insert>

    <delete id="deleteMoreEmployeeByArray">
        delete from employee
        <where>
            <foreach collection="eIds" item="id"  separator="or">
                eid = #{id}
            </foreach>
        </where>
    </delete>

    <!-- select emp_name, age, sex, email from employee -->
    <!--<select id="getEmployeeByCondition" resultType="com.yu.mybatis.pojo.Employee">
        select <include refid="empColumns" /> from employee
        <trim prefix="where" suffixOverrides="and|or">
            <if test="empName != null and empName != ''">
                emp_name = #{empName} and
            </if>
            <if test="age != null">
                age = #{age} or
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
        </trim>
    </select>-->

    <select id="getEmployeeByCondition" resultType="com.yu.mybatis.pojo.Employee">
        <include refid="empResult" />
            <if test="empName != null and empName != ''">
                and emp_name = #{empName}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
    </select>

    <select id="getEmployeeByChoose" resultType="com.yu.mybatis.pojo.Employee">
        select emp_name, age, sex, email from employee
        <where>
            <choose>
                <when test="empName != null and empName != ''">
                    emp_name = #{empName}
                </when>
                <when test="age != null">
                    age = #{age}
                </when>
                <when test="sex != null">
                    sex = #{sex}
                </when>
                <when test="email != null and email != ''">
                    email = #{email}
                </when>
                <otherwise>
                    did = 1
                </otherwise>
            </choose>
        </where>
    </select>
</mapper>